# Cleanup merged branches
alias gitclean="git fetch --prune;git branch -r --merged | grep -v master | sed 's/origin\///' | xargs -n 1 git push --delete origin"

# NETWORK TOOLS
alias myip="curl ipinfo.io/ip"
alias fixdns="sudo networksetup -setnetworkserviceenabled Wi-Fi off && sudo route flush && sudo sudo networksetup -setnetworkserviceenabled Wi-Fi on"

# UNCATEGORIZED
eval $(thefuck --alias)
#eval "$(jump shell)"
